<ul>
    {if condition="($Request.param.nav3 == '0') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/kecheng/nav3/0">课程</a> </li>
    {if condition="($Request.param.nav3 == '1') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/xueli/nav3/1">学历</a> </li>
    {if condition="($Request.param.nav3 == '2') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/zhengshu/nav3/2">证书</a></li>
    {php}
    if($authorid=='3'){
    {/php}
    <input type="button" class="Hsz" id="recycle" value="回收站">
    {php}
    }
    {/php}
</ul>