<ul>
    {if condition="($Request.param.nav3 == '0') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/kecheng/nav3/0">课程</a> </li>
    {if condition="($Request.param.nav3 == '1') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/xueli/nav3/1">学历</a> </li>
    {if condition="($Request.param.nav3 == '2') "}
    <li class="current">
        {else /}
    <li>
        {/if}<a href="/admin/ziyuan/zhengshu/nav3/2">证书</a></li>

    <input type="button" onclick="location.href='/admin/ziyuan/repeat'" class="repeat" value="去重">
    <input type="button" onclick="location.href='/admin/ziyuan/editsheng'" class="repeat" value="修改省份">
    <input type="button" onclick="location.href='/admin/ziyuan/emptynum'" class="repeat" value="清除空号">
    {php}
    if($authorid=='3'){
        if($hsz){
             echo '<input type="button" class="Hsz" id="recycle" value="回收站">';
        }
        else
        {
            echo '<input type="button" class="Hsz" style="background-color: #1d2088; color: #ffffff;" id="recycle" value="回收站">';
        }

    }
    {/php}
</ul>