/*销售员样式文件*/
*{
	margin: 0;
	padding: 0;
	list-style:none;
	border: 0;
	font-family: "微软雅黑";
	font-size: 24px;
}
body{
	background-color: #e3e3e3;
}
/*主界面头部*/
.mainPageTop{
	width: 100%;
	height: 100px;
	background-color: #2e7cf2;
}
.personal{
    background: url(../images/bg_xinxikuang.png) no-repeat 50px 30px;
    width: 100%;
}
.personalCont{
    width: 460px;
    padding-top: 18px;
    margin-left: 52px;
}
.personalCont span{
    display: inline-block;
    margin-top: 12px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    font-size: 12px;
    color: #252525;
    width: 76px;
    text-align: center;
    
}
.personalCont span:nth-child(3){
	width: 100px;
}
.personalCont span:nth-child(5){
	width: 100px;
}

/*主界面左侧*/
.mainPageLeft{
	width: 10%;
	height: 928px;
	background-color: #00045e;
	float: left;
}
.mainPageLeft ul li{
    color: #d0d0d0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
}
.mainPageLeft ul li a{
	color: #d0d0d0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;	
   text-decoration: none;
   display: block;
   }
.mainPageLeft ul li.current a{
    background-color: #ffffff;
    color: #000000;
}

/*主界面右侧*/
.mainPageRight{
	width: 88.9%;
	height: 910px;
	background-color: #eeeeee;
	float: left;
	margin: 10px;
}
.selectionTop{
	border-bottom: 1px solid #626262;
}
.selectionTop ul{
	padding: 8px 0;
	margin-left: 26px;
}
.selectionTop ul li{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #1d2088;
    font-size: 20px;
    color: #303030;
    padding: 1px 30px;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 3px;
}
.selectionTop ul li.current{
	background-color: #1d2088;
	color: #fff;
}
.selectionCont{
    padding:23px;
}
.itme{
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
}
.itme .options{
    display: inline;
    
}
.option1{
	font-size: 20px;
	color: #000;
	border: 1px solid #1d2088;
	border-radius: 4px;
	position: relative;
	padding: 1px 10px;
    display: inline-block;
    margin-right: 10px;
}
.option1 .optionDel{
    position: absolute;
    top: -5px;
    border-radius: 50%;
    background-color: #1d2088;
    color: #fff;
    width: 12px;
    height: 12px;
    line-height: 7px;
    right: -4px;
    cursor: pointer;
}
.optionAdd{
    display: inline-block;
    border: 1px solid #1d2088;
    padding: 0 5px;
    border-radius: 4px;
    height: 27px;
    line-height: 24px;
    cursor: pointer;
}
.itme span{
	font-size: 22px;
	color: #333;
}
.condition {
    padding: 0 25px;
}
.conditionSearch {
    font-size: 0;
}

.conditionSearch {
    margin-top: 20px;
}
.conditionSearch .searchBtn {
    background-color: #1D2088;
    border-radius: 2px;
    color: #FFFFFF;
    width: 65px;
    height: 35px;
    position: relative;
}
.conditionSearch input {
    display: inline-block;
    font-size: 18px;
}
.conditionSearch .searchInput {
    border: 1px solid #1D2088;
    border-radius: 2px;
    height: 33px;
    margin-left: -10px;
    padding-left: 15px;
    font-size: 17px;
    width: 20%;
    vertical-align: bottom;
}
.Dels {
    display: inline-block;
    float: right;
    font-size: 0;
}
.Dels input {
    border: 1px solid #1d2088;
    border-radius: 4px;
    color: #303030;
    font-size: 20px;
    padding: 1px 10px;
    cursor: pointer;
    background: transparent;
    margin-right: 35px;
}
/*主界面表格*/
.selectionCont {
    padding: 23px;
}
.approvalTop ul {
    width: 98%;
    background-color: #556fb5;
    color: #fff;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
}
.approvalTop ul li {
    width: 11%;
}
.approvalTop ul li {
    display: inline-block;
    width: 13.8%;
    text-align: center;
    border-right: 2px solid #1d2088;
    height: 22px;
    line-height: 20px;
}
.approvalCont ul {
    width: 98%;
    border-bottom: 1px solid #1d2088;
}
.approvalCont ul li {
    display: inline-block;
    width: 13.8%;
    text-align: center;
    font-size: 18px;
    color: #626262;
    margin: 10px 0;
}
.approvalCont ul input {
    width: 13px;
    height: auto;
}
.approvalCont ul input {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #626262;
    background: transparent;
    width: 195px;
    height: 35px;
    outline: medium;
}
.condtionCont1 {
    margin-top: 10px;
}
.condtionCont1:first-child{
    border-top: 1px solid #626262;
    padding-top: 20px;
}
.condtionCont1 span {
    font-size: 22px!important;
    color: #303030;
    vertical-align: top;
}
.condtionCont1 div {
    font-size: 20px!important;
    color: #303030;
}
.condtionCont1 .optionAdd{
    padding: 0px 6px;
    vertical-align: sub;
}
.condtionArea {
    display: inline-block;
}
.condtionArea span {
    font-size: 20px!important;
    color: #303030;
    border-radius: 4px;
    /*border: 1px solid #1d2088;*/
    padding:0 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
}
.condtionArea span.current {
    background-color: #1d2088;
    color: #fff;
}
.condtionArea span.queren.current{
	background:transparent;
	color:#303030;
}
.approvalTop ul li:last-child {
    	border-right: none;
    	width: 18%;
	}
	.approvalTop ul li{
		width: 11%;
	}
	.approvalTop ul li:nth-child(3) {
    	background: transparent;
	}
	.approvalTop ul li:nth-child(4) {
    	background: url(../images/ic_move1.png) no-repeat 140px;
    	background-size: contain;
	}
	.approvalCont ul input{
		width: 13px;
		height: auto;
	}
	.approvalCont ul li{
		width: 11%;
	}
	.approvalCont ul li:last-child {
    	width: 19%;
    	cursor: pointer;
	}
	.approvalCont ul li:last-child span{
    	font-size: 18px;		
	}
	.selectionTop ul li{
		padding: 1px 10px;
	}
	.proposal{
		width: 450px;
		height: 280px;
	}
	.proposal p{
		font-size: 20px;
	}
	
/*加入a标签后调整的样式*/
.condtionArea span a{
	color: #303030;
	text-decoration: none;
	font-size: 20px;
}
.condtionArea span.current a{
	color: #fff;
}

/*select下拉框箭头样式*/
.reg_testdate{
	display: inline-block;
}
.reg_testdate option{
	font-size: 20px;
	background-color: #1d2088;
	color: #fff;
}
.reg_testdate select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url(../images/down.png) no-repeat right;
}
.reg_testdate select.current{
	background: url(../images/up.png) no-repeat right;
}
.reg_testdate select{
    font-size: 18px!important;
    color: #303030;
    border-radius: 4px;
    border: 1px solid #1d2088;
    padding: 0 40px 2px 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
    border-right: none;
}
.Ftextdate{
	margin-top: 8px;
}
.Separator{
	color: #1d2077;
	display: inline-block;
}
.timeBtn{
	display: inline-block;
}
.timeBtn input{
    border: 1px solid #1d2088;
    font-size: 20px;
    background: transparent;
    padding: 0 10px;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
}
.Dels span{}

/*订单管理页面*/
/*弹窗遮罩层*/
.popUps{
	display: none;
}
.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}
.proposal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 220px;
    margin: -100px 0px 0px -150px;
    z-index: 100;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
}
.maskClose {
    font-size: 22px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-family: 黑体;
}
.proposal p {
    font-size: 23px;
    color: #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.proposal textarea {
    border: 2px solid #00a0e9;
    width: 290px;
    height: 100px;
    margin-left: 8px;
    padding: 5px;
    font-size: 16px;
}
.proposalBtn {
    text-align: center;
}
.proposalBtn input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
}

/*弹窗遮罩层 第二套样式*/
.popUps1{
	display: none;
}
.mask1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 101;
}
.proposal1 {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 220px;
    margin: -100px 0px 0px -150px;
    z-index: 101;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
}
.maskClose1 {
    font-size: 22px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-family: 黑体;
}
.proposal1 p {
    font-size: 23px;
    color: #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.proposal1 textarea {
    border: 2px solid #00a0e9;
    width: 290px;
    height: 100px;
    margin-left: 8px;
    padding: 5px;
    font-size: 16px;
}
.proposalBtn1 {
    text-align: center;
}
.proposalBtn1 input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
}
/*弹窗遮罩层 第三套样式*/
.popUps2{
	display: none;
}
.mask2 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 101;
}
.proposal2 {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 220px;
    margin: -100px 0px 0px -150px;
    z-index: 101;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
}
.maskClose2 {
    font-size: 22px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-family: 黑体;
}
.proposal2 p {
    font-size: 23px;
    color: #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.proposal2 textarea {
    border: 2px solid #00a0e9;
    width: 290px;
    height: 100px;
    margin-left: 8px;
    padding: 5px;
    font-size: 16px;
}
.proposalBtn2 {
    text-align: center;
    margin-top: 50px;
}
.proposalBtn2 input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
}
/*弹窗遮罩层 第四套样式*/
.popUps3{
	display: none;
}
.mask3 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 101;
}
.proposal3 {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 390px;
    margin: -100px 0px 0px -150px;
    z-index: 101;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
}
.maskClose3 {
    font-size: 22px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-family: 黑体;
}
.proposal3 p {
    font-size: 23px;
    color: #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.proposal3 textarea {
    border: 2px solid #00a0e9;
    width: 290px;
    height: 100px;
    margin-left: 8px;
    padding: 5px;
    font-size: 16px;
}
.proposalBtn3 {
    text-align: center;
    text-align: right;
    margin-top: 35px;
    margin-right: 32px;
    margin-bottom: 20px;
}
.proposalBtn3 input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
}
/*弹窗遮罩层 第五套样式*/
.popUps4{
	display: none;
}
.mask4 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}
.proposal4 {
    position: fixed;
    left: 35%;
    top: 18%;
    width: 900px;
    margin: -100px 0px 0px -150px;
    z-index: 100;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
}
.maskClose4 {
    font-size: 22px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-family: 黑体;
    color: #fff;
}
.proposal4 p {
    font-size: 23px;
    color: #333;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    line-height: 23px;
}
.proposal4 p label{
	font-size: 14px;	
}
.ThjlTop{
	height: 130px;
    background-color: #5db9e2;
}
.ThjlTop .thName{
	font-size: 80px;
    color: #fff;
    border-right: 2px solid #fff;
    height: 90px;
    margin-top: 20px;
    float: left;
    line-height: 75px;
    padding: 0 32px 0 18px;
}
.ThjlTop .thlist{
    float: left;
    margin-top: 20px;
}
.ThjlCont{
	margin: 0 15px;
}
/*左侧*/
.ThjlL{
    width: 720px;
    float: left;
}
.ThjlBq{
	font-size: 28px;
	color: #333;
}
.ThjlName{
	font-size: 18px;
	color: #333;
}
.Bqlist{
	display: inline-block;
}
.Bqlist .gzdq{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #5db9e2;
    font-size: 18px;
    color: #333;
    width: 95px;
    height: 26px;
    text-align: center;
}
.Bqlist .gzdqAdd{
	display: inline-block;
    border: 1px solid #5db9e2;
    border-radius: 4px;
    padding: 0px 4px;
    height: 26px;
    vertical-align: bottom;
    line-height: 22px;
    cursor: pointer;
}
.ThjlBqName:nth-of-type(10) .Bqlist .gzdq:nth-of-type(3){
	width: 100px;
}
.ThjlBqName:nth-of-type(10)  .ThjlName{
	letter-spacing: 6px;
}
.ThjlBqName:nth-of-type(10)  .Bqlist{
	margin-left: -6px;
}
.ThjlBqName{
	margin-bottom: 5px;
}
.ThilInput{
	position: relative;
	border: 2px solid #00a0e9;
    background: transparent;
    width: 680px;
    padding: 10px;
    min-height: 70px;
    font-size: 14px;
    color: #333;
    resize: none;
    margin-top: 5px;
}
.ThilInput .input{
    background: transparent;
    width: 700px;
    padding: 5px 0;
    min-height: 70px;
    font-size: 14px;
    color: #333;
    resize:none;
    margin-top: 5px;
    outline: none;
}
.ThilBtn{
	position: absolute;
	bottom: 15px;
	right: 35px;
}
.ThilBtn input{
	background: transparent;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    border: none;
    outline: none;
}
.Luyin input{
    border: 2px solid #00A0E9;
    background-color: #5DB9E2;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    padding: 4px 7px;
    cursor: pointer;
    margin: 8px 0;
}
/*右侧*/
.ThjlR{
	width: 138px;
    float: left;
    border-left: 1px solid #eaeaea;
    padding-left: 10px;
    cursor: pointer;
}
.Thz{
	
}
.Thtop span:first-of-type{
	background: url(../images/ic_tonghua_call.png) no-repeat;
	width: 38px!important;
    height: 38px!important;
    display: inline-block;
    
}
.Thtop span:last-of-type{
	font-size: 22px!important;
	color: #30dd34!important;
    vertical-align: super;
}
.thLz span:first-of-type{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/ic_tonghua_luzhi.png) no-repeat center;
}
.thLz span:last-of-type{
	font-size: 11px!important;
	color: #1afff7!important;
	vertical-align: super;
}
.thLz{    
	border-bottom: 1px solid #61BBE3;
}
.ThjlR div span:first-of-type{
	display: inline-block;
	width: 34px;
	height: 34px;
	color: #000;
}
.ThjlR div span:last-of-type{
	font-size: 22px;
    color: #333;
    vertical-align: super;
    margin-left: 5px;
}
.Duanxin{
    margin-top: -20px;
}
.Duanxin span:first-of-type{
	background: url(../images/ic_tonghua_message.png) no-repeat center;
}
.Yidong span:first-of-type{
	background: url(../images/ic_tonghua_move.png) no-repeat center;
}
.thDel span:first-of-type{
	background: url(../images/ic_tonghua_delete.png) no-repeat center;
}
.thNext span:first-of-type{
	background:url(../images/ic_tonghua_next.png) no-repeat center;
}
.thXd span:first-of-type{
	background:url(../images/ic_tonghua_xiadan.png) no-repeat center;
}
.thTf span:first-of-type{
	background:url(../images/ic_tonghua_money.png) no-repeat center;
}
.ThjlR div{
	margin-bottom: 38px;
}
.ThjlR div a{
	text-decoration: none;
}
.ThjlR div:first-of-type{
	margin-bottom: 0;
}
.ThjlBqName .Bqlist .gzdq{
	cursor: pointer;
}
.ThjlBqName .Bqlist div.current{
	background-color: #5db9e2;
	color: #fff;
}















/*订单管理-领取客户-回收站*/
.LQ-huishouz{
	border-bottom: 1px solid #626262;
    padding: 15px 0;
    width: 100%;
    text-align: right;
}
.LQ-huishouz span{
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #1d2088;
    cursor: pointer;
    position: relative;
}
.LQ-huishouz span .optionDel{
    position: absolute;
    top: -5px;
    border-radius: 50%;
    background-color: #1d2088;
    color: #fff;
    width: 12px;
    height: 12px;
    line-height: 7px;
    right: -4px;
    cursor: pointer;
}
.LQ-huishouz .Hsz{
    background-color: #1d2088;
    color: #fff;
    	
}
.LQ-huishouz a{
	text-decoration: none;
	color: #303030;
}
.LQ-huishouz .reg_testdate select{
    padding: 4px 30px 4px 10px;
    margin-left: 25px;
    font-size: 16px!important;
}
/*我的客户*/
.LQ-huishouz .condition{
	display: inline-block;
    float: left;
}
.LQ-huishouz .condition .condtionCont1:first-child{
	border-top: none;
    padding-top: 0px;
    margin-top: 0px;
}

/*可伸缩table表格样式*/
table{
		table-layout: fixed;
    	padding: 25px 25px;
    		
	}
table tr th,td{
		text-align: center;
        /*overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;  */
		border: none;
		font-weight: normal;
		height: 40px;
		
}
table tr th{
		background-color: #556fb5;
		color: #FFFFFF;
		font-size: 24px;
		border-right: 2px solid #1d2088;
		
}
table tr th:last-of-type{
	border-right: none;
}
table tr td{
	font-size: 18px;
    color: #626262;
    border: none !important;
    border-bottom: 1px solid #1d2088!important;
     overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    
}
table tr td span{
	font-size: 18px;
    color: #626262;
    cursor: pointer;
    height: 40px;
    line-height: 47px;	
    display: inline-block;
    margin: 0 10px;
}
table tr td span img{
	vertical-align: sub;
}

/*我的客户/导入/弹窗*/
#Tctable .proposal {
    width: 95%;
    height: 260px;
    left: 10%;
}
#Tctable table{
	width: 100%;
	font-size: 26px;
	color: #333;
}
#Tctable table tr th,td{
	border: 1px solid #00a0e9;
}
#Tctable table tr th{
	background: transparent;
	border-right: none;
	color: #333;
}
#Tctable table tr th:last-of-type{
	width: auto;
	border: 1px solid #00a0e9;
}
#Tctable table tr td{
	border-bottom: 1px solid #00a0e9;
	border-top: none;
	border-right: none;
}
#Tctable table tr td:last-of-type{
	border-right: 1px solid #00a0e9;
}
#Tctable input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.divHSZ{
	display: inline-block;
}

/*编辑分组弹窗*/
.kehuFenzu .Fenlei1{
    border-radius: 4px;
    border: 1px solid #00A0E9;
    color: #333333;
    margin-bottom: 15px;
    padding: 2px 16px;
    font-size: 18px;
    margin-right: 8px;
    float: left;
    position: relative;
}
.kehuFenzu .Fenlei1 .optionDel{
    position: absolute;
    top: -5px;
    border-radius: 50%;
    background-color: #1d2088;
    color: #fff;
    width: 12px;
    height: 12px;
    line-height: 7px;
    right: -4px;
    cursor: pointer;
}
.Fenlei0 {
    border-radius: 4px;
    border: 1px solid #00A0E9;
    color: #333333;
    width: 120px;
}
.kehuFenzu .Felei{
	padding: 0 25px;
}
.Felei .optionAdd{
	display: inline-block;
    border: 1px solid #00A0E9;
    padding: 0 5px;
    border-radius: 4px;
    height: 27px;
    line-height: 24px;
    cursor: pointer;	
    vertical-align: top;
}

.Felei div.current{
    border: 1px solid #ff0000;
}

/*<!--我的客户导入下拉框样式-->*/
.popUps5 .mask5 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}
.popUps5 .proposal {
    width: 450px!important;
    height: 280px!important;
}

.popUps5 .proposal {
    position: fixed;
    left: 49%;
    top: 49%;
    width: 320px;
    height: 220px;
    margin: -225px 0px 0px -225px;
    z-index: 100;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #252525;
    padding: 20px;
}
.popUps5 .maskClose {
    font-size: 22px;
    right: 10px;
    top: 5px;
    position: absolute;
    cursor: pointer;
    font-family: "黑体";
}
.popUps5 .proposal p {
    font-size: 20px;
}

.popUps5 .proposal p {
    font-size: 23px;
    color: #333;
    text-align: center;
    height: 45px;
    border-bottom: 1px solid #e7e7e7;
}
.popUps5 .drMb div {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.popUps5 .drMb div a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
}
.popUps5 .proposalBtn1 {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 75px;
}
.popUps5 .proposalBtn1 input {
    background: transparent;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 2px solid #00a0e9;
    padding: 1px 18px;
    cursor: pointer;
}
.personalCont img{
	cursor: pointer;
    border-radius: 50%;
}

.zyDel{
    text-decoration: none;
    font-size: 18px;
    color: #626262;
}



