<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CRM主界面-销售员-我的客户</title>
    <link rel="stylesheet" href="/static/css/Seller.css" />
    <style type="text/css">
        table tr th:last-of-type{
            width: 500px;
        }
        table tr td span img{
            padding: 0 13px;
        }
    </style>
</head>
<body>
<div class="LQ-huishouz">
    <div class="reg_testdate" name="reg_testdate">
        <select>
            <option value="">导入</option>
            <option value="">单个导入</option>
        </select>
    </div>
    <div class="divHSZ">
        <span class="">通话记录</span>
        <a href="/user/saler/recycle/menu/1"><span>回收站</span></a>
    </div>
    <div class="condition">
        <div class="condtionCont1">
            <form name="myform" method="post" action="/user/saler/mykehu">
            <div class="condtionArea">
                {if condition="''==$intent"}
                <span data-id="" class="getspanv3 current">所有客户</span>
                {else /}
                <span data-id="" class="getspanv3">所有客户</span>
                {/if}

                {volist name="levels" id="vo"}
                {if condition="$vo['level']==$intent"}
                <span data-id="{$vo.level}" class="getspanv3 current">{$vo.level}类客户</span>
                {else /}
                <span data-id="{$vo.level}" class="getspanv3">{$vo.level}类客户</span>
                {/if}
                {/volist}
            </div>
            <div class="optionAdd">+</div>
                <input name="intent" id="intent" type="hidden" value="">
            </form>
        </div>
    </div>
</div>
<table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="">
    <tbody>
    <tr align="center" bgcolor="#dcdcdc">
        <th>项目</th>
        <th>对象</th>
        <th>时间</th>
        <th>时长</th>
        <th>业务员</th>
        <th>操作</th>
    </tr>
    {volist name="zylist" id="vo"}
    <tr>
        <td>{$vo.project}</td>
        <td>{$vo.guest}</td>
        <td>{$vo.datetime}</td>
        <td>00:05:36</td>
        <td>{$saler}</td>
        <td>
            <span class=""><img class="approvalPhone" onclick="call(10086)" src="/static/images/ic_call.png" alt="电话" /></span>
            <span class=""><img class="approvalEmal" data-id="{$vo.email}" src="/static/images/ic_.png" alt="邮箱" /></span>
            <span class=""><img class="approvalB" data-id="{$vo.id}" data-lv="{$vo.intent}" src="/static/images/ic_move.png" alt="操作" /></span>
            <span class=""><img class="approvalDel" data-id="{$vo.id}" src="/static/images/ic_delete.png" alt="删除" /></span>
            <a href="http://www.acbkjg.com"><span class=""><img class="approvalShopping" src="/static/images/ic_card.png" alt="购物车" /></span></a>
            <span class=""><img class="approvalP" src="/static/images/ic_tiaodong.png" alt="对比" /></span>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<script>
    function call(number){
        if(number != '10086' && number !='10010'&& number !='0'){
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            if(!myreg.test(number)) {
                alert('手机号码格式错误');
                return;
            }
        }
        var ws = new WebSocket('ws://127.0.0.1:50000');
        ws.onopen = function(event) {
            ws.send(number)
        };
        ws.onerror = function(event){
            alert('手机连接失败，请检查USB连接是否拔除，如果已重新连接USB，请等待一小会');
        }
        ws.onmessage = function(event) { //监听中
            var content = event.data;
            //返回输入的号码
            console.log('即将拔打:'+content)
            //用完就关
            ws.close();
        };
        ws.onclose = function(event){
            console.log('关闭连接');
        }
    }
</script>
<!--点击下拉框触发事件-->
<!--<div id="Tctable" class="popUps">
    <div class="mask"></div>
    <div class="popUpsCont">
        <div class="proposal">
            <p>单个导入</p>
            <table border="" cellspacing="0" cellpadding="0">
                <tr>
                    <th>项目</th>
                    <th>地区</th>
                    <th>时间</th>
                    <th>客户</th>
                    <th>意向</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="proposalBtn">
                <input class="certainBtn" type="button" value="确定导入"/>
                <input class="cancelBtn" type="button" value="取消导入"/>
            </div>
        </div>
    </div>
</div>-->

<!--编辑短信弹窗-->
<div class="popUps1">
    <div class="mask1"></div>
    <div class="popUpsCont1">
        <div class="proposal1">
            <span class="maskClose1">x</span>
            <p>正在编辑短信</p>
            <form name="sendmsg" method="post" action="/user/saler/sendmsg">
            <textarea name="message" id="message" placeholder="在此编辑内容"></textarea>
            <input name="email" type="hidden" id="email" value="">
            <div class="proposalBtn1">
                <input class="certainBtn1" type="button" value="发送">
                <input class="cancelBtn1" type="button" value="取消">
            </div>
            </form>
        </div>
    </div>
</div>
<!--删除客户-->
<div class="popUps2">
    <div class="mask2"></div>
    <div class="popUpsCont2">
        <div class="proposal2">
            <span class="maskClose2">x</span>
            <p>确认放弃客户</p>
            <form name="delguest" method="post" action="/user/saler/del_guest">
            <div class="proposalBtn2">
                <input name="delid" id="delid" type="hidden" value="">
                <input class="certainBtn2" type="button" value="确定">
                <input class="cancelBtn2" type="button" value="取消">
            </div>
            </form>
        </div>
    </div>
</div>
<!--正在编辑分组-->
<div class="popUps3">
    <div class="mask3"></div>
    <div class="popUpsCont3">
        <div class="proposal3">
            <span class="maskClose3">x</span>
            <p>正在编辑分组</p>
            <div class="kehuFenzu">
                <form name="setlevel" method="post" action="/user/saler/setlevel">
                <div class="Felei">
                    {volist name="levels" id="vo"}
                        <div data-id="{$vo.level}" id="lv{$key}" class="Fenlei1">{$vo.level}类客户</div>
                    {/volist}
                    <span class="optionAdd">+</span>
                    <input name="levelid" id="levelid" type="hidden" value="">
                    <input name="level" id="level" type="hidden" value="">
                </div>
                </form>
            </div>
            <div class="proposalBtn3">
                <input class="certainBtn3" type="button" value="确定">
                <input class="cancelBtn3" type="button" value="取消">
            </div>
        </div>
    </div>
</div>
<!--通话记录弹窗-->
<div class="popUps4">
    <div class="mask4"></div>
    <div class="popUpsCont4">
        <div class="proposal4">
            <span class="maskClose4">x</span>
            <div class="ThjlTop">
                <span class="thName">赵杰</span>
					<span class="thlist">
						<p>地区：<label>广东</label></p>
						<p>资源：<label>一级建造师</label></p>
						<p>公司：<label>广东御城建筑有限公司</label></p>
						<p>电话：<label>13265489725</label></p>
					</span>
            </div>
            <div class="ThjlCont">
                <div class="ThjlL">
                    <div class="ThjlBq">标签：</div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">工作地区：</span>
                        <div class="Bqlist">
                            <div class="gzdq">广东省</div>
                            <div class="gzdq">湖南省</div>
                            <div class="gzdq">河南省</div>
                            <span class="gzdqAdd">+</span>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">需求人数：</span>
                        <div class="Bqlist">
                            <div class="gzdq">1人</div>
                            <div class="gzdq">2-5人</div>
                            <div class="gzdq">5-10人</div>
                            <div class="gzdq">10人以上</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">教育经历：</span>
                        <div class="Bqlist">
                            <div class="gzdq">高中及以下</div>
                            <div class="gzdq">中专</div>
                            <div class="gzdq">大专</div>
                            <div class="gzdq">本科</div>
                            <div class="gzdq">研究生</div>
                            <div class="gzdq">博士及以上</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">培训经历：</span>
                        <div class="Bqlist">
                            <div class="gzdq">有</div>
                            <div class="gzdq">无</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">年龄层次：</span>
                        <div class="Bqlist">
                            <div class="gzdq">25岁以下</div>
                            <div class="gzdq">25-30岁</div>
                            <div class="gzdq">30-35岁</div>
                            <div class="gzdq">35-40岁</div>
                            <div class="gzdq">40岁以上</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">教育经历：</span>
                        <div class="Bqlist">
                            <div class="gzdq">男</div>
                            <div class="gzdq">女</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">岗位层级：</span>
                        <div class="Bqlist">
                            <div class="gzdq">高层</div>
                            <div class="gzdq">中层</div>
                            <div class="gzdq">企业主</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">项目需求：</span>
                        <div class="Bqlist">
                            <div class="gzdq">一建</div>
                            <div class="gzdq">二建</div>
                            <div class="gzdq">消防</div>
                            <div class="gzdq">公路水运</div>
                            <div class="gzdq">湖南中共</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">意向度：</span>
                        <div class="Bqlist">
                            <div class="gzdq">A(要报班)</div>
                            <div class="gzdq">B(考虑中)</div>
                            <div class="gzdq">C(以后再说)</div>
                        </div>
                    </div>
                    <div class="ThjlBqName">
                        <span class="ThjlName">通话质量：</span>
                        <div class="Bqlist">
                            <div class="gzdq">其他行业</div>
                            <div class="gzdq">未接听</div>
                            <div class="gzdq">空号</div>
                        </div>
                    </div>
                    <div class="ThilInput">
                    	2018/10/03-何雪：客户意向度较低；
                        <textarea class="input" readonly="readonly"></textarea>
                        <div class="ThilBtn">
                            <input class="tAdd" type="button"  value="添加"/>
                            <input class="Bc" type="button"  value="保存"/>
                        </div>
                    </div>
                    <div class="Luyin">
                        <input type="button"  value="何雪20181003录音"/>
                    </div>
                </div>
                <div class="ThjlR">
                    <div class="Thz">
                        <div class="Thtop">
                            <span></span>
                            <span>通话中</span>
                        </div>
                        <div class="thLz">
                            <span></span>
                            <span>通话录制中</span>
                        </div>
                    </div>
                    <div class="Duanxin">
                        <a href="#">
                            <span></span>
                            <span>短信</span>
                        </a>
                    </div>
                    <div class="Yidong">
                       <span></span>
                       <span>移动</span>
                    </div>
                    <div class="thDel">
                            <span></span>
                            <span>放弃</span>
                    </div>
                    <div class="thNext">
                        <a href="">
                            <span></span>
                            <span>下一个</span>
                        </a>
                    </div>
                    <div class="thXd">
                        <a href="http://www.acbkjg.com">
                            <span></span>
                            <span>下单</span>
                        </a>
                    </div>
                    <div class="thTf">
                        <a href="">
                            <span></span>
                            <span>退费</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--我的客户导入下拉框样式-->
<div id="Pil" class="popUps5" style="display: none;">
		<div class="mask5"></div>
		<div class="popUpsCont">
			<div class="proposal">
				<span class="maskClose">x</span>
				<p>导入</p>
            <form name="toExcel" enctype="multipart/form-data" action="/admin/ziyuan/importExcel" method="post">
				<div class="drMb">
					<div>一、模板下载：<a href="/template/template1.xlsx">《客户资源数据模板》 </a></div>
					<div>
                        二、上传已完成模板数据文件
                        <input type="file" name="excel">
                    </div>
				</div>
				<div class="proposalBtn1">
                    <input name="zytype" type="hidden" value="kecheng">
					<input class="startDr" type="submit" value="开始导入">
					<input class="cancelDr" type="button" value="取消导入">
				</div>
                </form>
			</div>
		</div>
        </div>

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/table.js"></script>
<script>
    $('.condtionArea span').click(function(){
        $(this).addClass('current').siblings().removeClass();
    })
    //	我的客户/回收站页面 点击下拉框触发事件
    $('.LQ-huishouz select').change(function(){
//	alert($('.LQ-huishouz option:selected').html());
        $('#Pil').css('display','block');
    });
    $('#Pil .mask5').click(function(){
        $('#Pil').css('display','none');
    });
    $('#Pil .maskClose').click(function(){
        $('#Pil').css('display','none');    	
    })
    //点击短信弹出层
    $('.approvalEmal').click(function(){
        $('.popUps1').css('display','block');
        var email = $(this).data("id");
        $('#email').val(email);
    });
    $('.Duanxin').click(function(){
        $('.popUps1').css('display','block');
        var email = $(this).data("id");
        $('#email').val(email);
    });
    
    
    $('.maskClose1').click(function(){
        $('.popUps1').css('display','none');
    });
    $('.cancelBtn1').click(function(){
        $('.popUps1').css('display','none');
    });
    $('.mask1').click(function(){
         $('.popUps1').css('display','none');   	
    })
    $(".certainBtn1").click(function () {
        var email_url = $('#email').val();
        var message = $('#message').val();
        //if(email_url.length>0 && message.length>0){
            sendmsg.submit();
        //}
        //else
        //{
          //  alert("邮箱地址或发送内容不能为空！");
       // }
    });

    //切换通话记录及回收站切换效果
    $('.divHSZ span').click(function(){
        $(this).addClass('Hsz').siblings().removeClass('Hsz');
    });
    //点击删除客户按钮效果弹窗
    $('.approvalDel').click(function(){
        $('.popUps2').css('display','block');
        var delid = $(this).data("id");
        $('#delid').val(delid);
    });
    $('.maskClose2').click(function(){
        $('.popUps2').css('display','none');
    });
    $('.cancelBtn2').click(function(){
        $('.popUps2').css('display','none');
    });
    $('.thDel').click(function(){
        $('.popUps2').css('display','block');   	
    })
    $('.mask2').click(function(){
    	$('.popUps2').css('display','none');
    })


    $(".certainBtn2").click(function(){
        //if(confirm("确定要放弃客户吗？")){
            delguest.submit();
        //}
    });

    //我的客户  点击加号 动态创建类别
    $('.condtionCont1 .optionAdd').click(function(){
          var str = '<span>D类客户</span>';
          $('.condtionArea').append(str);
    });

    //我的客户 点击分组弹窗效果
    $('.approvalB').click(function(){
        $('.popUps3').css('display','block');
        var levelid = $(this).data("id");
        var levellv = $(this).data("lv");
        $('#levelid').val(levelid);
        if(levellv=='A'){
            $("#lv0").addClass('current');
        }
        else if(levellv=='B'){
            $("#lv1").addClass('current');
        }
        else if(levellv=='C'){
            $("#lv2").addClass('current');
        }
    });
    $('.maskClose3').click(function(){
        $('.popUps3').css('display','none');
    });

    $('.cancelBtn3').click(function(){
        $('.popUps3').css('display','none');
    });
    $('.Yidong').click(function(){
         $('.popUps3').css('display','block');   	
    })
    $('.mask3').click(function(){
         $('.popUps3').css('display','none');     	
    })

    //编辑分组窗台创建分组
    $('.Felei .optionAdd').click(function(){
        var ss = 'D类客户';
        var str = '<div class="Fenlei1">'+ ss +'</div>';
        $(this).before(str);
    });

    $(".Fenlei1").each(function(){
        $(this).click(function(){
            $(".Fenlei1").each(function(){
                $(this).removeClass('current');
            });
            var lid = $(this).data("id");
            $("#level").val(lid);
            $(this).addClass('current');
            setlevel.submit();
        })
    });

    //通话记录弹出框
//  $('.divHSZ span:first-of-type').click(function(){
//      $('.popUps4').css('display','block');
//  });
 $('.approvalPhone').click(function(){
        $('.popUps4').css('display','block');
    });
    $('.maskClose4').click(function(){
        $('.popUps4').css('display','none');
    });
 $('.approvalP').click(function(){
        $('.popUps4').css('display','block');
    });
$('.mask4').click(function(){
	$('.popUps4').css('display','none');
})

    //通话记录弹窗
    $('.gzdqAdd').click(function(){
        var str = '<div class="gzdq">广东省</div>';
        $(this).before(str);
    });

    $(".getspanv3").each(function(){
        $(this).click(function(){
            var temp = $(this).data("id");
            $("#intent").val(temp);
            myform.submit();
        })
    })
//  通话界面弹窗切换效果
$('.ThjlBqName .Bqlist div').click(function(){
	$(this).addClass('current').siblings().removeClass('current');
})
$('.tAdd').click(function(){
	$('.ThilInput .input').removeAttr("readonly");
})
$('.Bc').click(function(){
	$('.ThilInput .input').attr("readonly","readonly");
})
</script>
</body>
</html>
