<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CRM主界面-销售员-订单管理</title>
    <link rel="stylesheet" href="/static/css/Seller.css" />
</head>
<body>
<div class="condition">
    <div class="conditionSearch">
        <input class="searchBtn" type="button" value="搜索"/>
        <input class="searchInput" type="text" />
    </div>
</div>
<table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
    <tbody>
    <tr align="center" bgcolor="#dcdcdc">
        <th>项目</th>
        <th>地区</th>
        <th>时间</th>
        <th>客户</th>
        <th>意向</th>
        <th>标签</th>
        <th>反馈</th>
    </tr>
    {volist name="orderlist" id="vo"}
    <tr>
        <td>{$vo.project}</td>
        <td>{$vo.province}-{$vo.city}</td>
        <td>{:date("Y年m月d日",strtotime($vo['datetime']))}</td>
        <td>{$vo.guest}</td>
        <td>{$vo.intent}</td>
        <td>{$vo.label}</td>
        <td>{if condition="$vo['exam']==-1"}
            <span data-id="{$vo.sugges}" class="dingdanOverrule">
                {$vo.sugges}
            </span>
            {elseif condition="$vo['exam']==1"}
            <span class="#">已批准</span>
            {else /}
            <span class="#">申请中</span>
            {/if}
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

<div class="popUps">
    <div class="mask"></div>
    <div class="popUpsCont">
        <div class="proposal">
            <span class="maskClose">x</span>
            <p>驳回意见</p>
            <textarea id="sugges" placeholder="用户信息不完善"></textarea>
            <!--<div class="proposalBtn">
                <input class="certainBtn" type="button" value="确定">
                <input class="cancelBtn" type="button" value="取消">
            </div>-->
        </div>
    </div>
</div>

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/fanxuan.js"></script>
<script src="/static/js/table.js"></script>
<script>
    //删除操作效果
    $('.zyDel').click(function(){
        $(this).parent().parent('ul').remove();
    })
//  $('.dingdanOverrule').click(function(){
//      var sugges = $(this).data("id");
//      $("#sugges").val(sugges);
//      $('.popUps').css('display','block');
//  })
//  //  关闭弹窗效果
//  $('.maskClose').click(function(){
//      $('.popUps').css('display','none');
//  })

</script>
</body>
</html>