<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CRM主界面-销售员-回收站</title>
    <link rel="stylesheet" href="/static/css/Seller.css" />
<body>
<div class="LQ-huishouz">
    <span class="Hsz">回收站</span>
    <div class="reg_testdate" name="reg_testdate">
        <select>
            <option value="">导入</option>
            <option value="">导入1</option>
            <option value="">导入2</option>
        </select>
    </div>
</div>
<div class="condition">
    <div class="conditionSearch">
        <input class="searchBtn" type="button" value="搜索"/>
        <input class="searchInput" type="text" />
    </div>
</div>
<table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
    <tbody>
    <tr align="center" bgcolor="#dcdcdc">
        <th><input id="all" type="checkbox" value="" /></th>
        <th>项目</th>
        <th>地区</th>
        <th>时间</th>
        <th>客户</th>
        <th>意向</th>
        <th>标签</th>
        <th>操作</th>
    </tr>
    <tr>
        <td><input type="checkbox" value="" /></td>
        <td>一级建造师</td>
        <td>广东-深圳</td>
        <td>2018年6月</td>
        <td>邓子明</td>
        <td>B</td>
        <td>空号</td>
        <td>
            <span class="">领取</span>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" value="" /></td>
        <td>一级建造师</td>
        <td>广东-深圳</td>
        <td>2018年6月</td>
        <td>邓子明</td>
        <td>B</td>
        <td>空号</td>
        <td>
            <span class="">领取</span>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" value="" /></td>
        <td>一级建造师</td>
        <td>广东-深圳</td>
        <td>2018年6月</td>
        <td>邓子明</td>
        <td>B</td>
        <td>空号</td>
        <td>
            <span class="">领取</span>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" value="" /></td>
        <td>一级建造师</td>
        <td>广东-深圳</td>
        <td>2018年6月</td>
        <td>邓子明</td>
        <td>B</td>
        <td>空号</td>
        <td>
            <span class="">领取</span>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" value="" /></td>
        <td>一级建造师</td>
        <td>广东-深圳</td>
        <td>2018年6月</td>
        <td>邓子明</td>
        <td>B</td>
        <td>空号</td>
        <td>
            <span class="">领取</span>
        </td>
    </tr>
    </tbody>
</table>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/fanxuan.js"></script>
<script src="/static/js/table.js"></script>
</body>
</html>