<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CRM主界面-用户管理-订单审批</title>
	</head>
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="/static/css/index.css" />
	<body>

		<div class="selectionTop">
            {include file="nav" /}
		</div>
        <table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
            <tbody>
            <tr align="center" bgcolor="#dcdcdc">
                <th>项目</th>
                <th>地区</th>
                <th>时间</th>
                <th>客户</th>
                <th>意向</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>一级建造师</td>
                <td>广东-深圳</td>
                <td>2018年6月</td>
                <td>邓子明</td>
                <td>B</td>
                <td>意向度较高</td>
                <td>
                    <span class="ratify">批准</span>
                    <span class="turnDown">驳回</span>
                </td>
            </tr>
            <tr>
                <td>一级建造师</td>
                <td>广东-深圳</td>
                <td>2018年6月</td>
                <td>邓子明</td>
                <td>B</td>
                <td>意向度较高</td>
                <td>
                    <span class="ratify">批准</span>
                    <span class="turnDown">驳回</span>
                </td>
            </tr>
            <tr>
                <td>一级建造师</td>
                <td>广东-深圳</td>
                <td>2018年6月</td>
                <td>邓子明</td>
                <td>B</td>
                <td>意向度较高</td>
                <td>
                    <span class="ratify">批准</span>
                    <span class="turnDown">驳回</span>
                </td>
            </tr>
            <tr>
                <td>一级建造师</td>
                <td>广东-深圳</td>
                <td>2018年6月</td>
                <td>邓子明</td>
                <td>B</td>
                <td>意向度较高</td>
                <td>
                    <span class="ratify">批准</span>
                    <span class="turnDown">驳回</span>
                </td>
            </tr>
            </tbody>
        </table>

	</body>
	<div class="popUps">
		<div class="mask"></div>
		<div class="popUpsCont">
			<div class="proposal">
				<span class="maskClose">x</span>
				<p>驳回意见</p>
				<textarea></textarea>
				<div class="proposalBtn">
					<input class="certainBtn" type="button" value="确定"/>
					<input class="cancelBtn" type="button" value="取消"/>
				</div>
			</div>
		</div>
	</div>
</html>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/table.js"></script>
<script>
	$('.turnDown').click(function(){
		$('.popUps').css('display','block');
	})
	$('.maskClose').click(function(){
		$('.popUps').css('display','none');
	})
</script>
