<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CRM主界面-用户管理-订单审批</title>
	</head>
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="/static/css/index.css" />
	<body>

		<div class="selectionTop">
            {include file="nav" /}
		</div>

        <table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
            <tbody>
            <tr align="center" bgcolor="#dcdcdc">
                <th>项目</th>
                <th>地区</th>
                <th>时间</th>
                <th>客户</th>
                <th>意向</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
            {volist name="lists" id="vo"}
            <tr>
                <td>{$vo.project}</td>
                <td>{$vo.province}-{$vo.city}</td>
                <td>{:date("Y年m月d日",strtotime($vo['datetime']))}</td>
                <td>{$vo.guest}</td>
                <td>{$vo.intent}</td>
                <td>{$vo.label}</td>
                <td>
                    <span onclick="setexam({$vo.id},1)" data-id="{$vo.id}" class="ratify">批准</span>
                    <span onclick="setexam({$vo.id},0)" class="turnDown">驳回</span>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

	</body>
	<div class="popUps">
		<div class="mask"></div>
		<div class="popUpsCont">
			<div class="proposal">
                <form name="shenpiform" method="post" action="/admin/users/doshenpi">
                <input type="hidden" name="id" id="shenhe_id" value="">
				<span class="maskClose">x</span>
				<p>驳回意见</p>
				<textarea disabled="true" id="sugges" name="sugges"></textarea>
				<div class="proposalBtn">
					<input class="certainBtn" onclick="return checkExam()" type="submit" value="确定"/>
					<input class="cancelBtn" type="button" value="取消"/>
				</div>
                </form>
			</div>
		</div>
	</div>
</html>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/table.js"></script>
<script>
	$('.turnDown').click(function(){
		$('.popUps').css('display','block');
	});
	$('.maskClose').click(function(){
        $('.popUps').css('display','none');
    });
    $('.cancelBtn').click(function(){
        $('.popUps').css('display','none');
    });
    function setexam(v,t){
        $("#shenhe_id").val(v);
        switch (t){
            case 1:
                shenpiform.submit();
                break;
            default :
                $("#sugges").attr("disabled",false);
                break;
        }
    }
    function checkExam(){
        var sugges = $("#sugges").val();
        if(sugges.length<1){
            alert("请输入驳回意见！");
            return false;
        }
    }
</script>
