<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CRM主界面-管理员-资源管理</title>
	</head>
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="/static/css/index.css" />
<style type="text/css">
	.approvalTop ul li:last-child {
    	border-right: none;
    	width: 18%;
	}
	.approvalTop ul li{
		width: 11%;
	}
	.approvalTop ul li:nth-child(3) {
    	background: transparent;
	}
	.approvalTop ul li:nth-child(4) {
    	background: url(/static/images/ic_move1.png) no-repeat 140px;
    	background-size: contain;
	}
	.approvalCont ul input{
		width: 13px;
		height: auto;
	}
	.approvalCont ul li{
		width: 11%;
	}
	.approvalCont ul li:last-child {
    	width: 19%;
	}
	.selectionTop ul li{
		padding: 1px 10px;
	}
	.proposal{
		width: 450px;
		height: 280px;
	}
	.proposal p{
		font-size: 20px;
	}
</style>
	<body>
		<div class="selectionTop">
             {include file="nav3" /}
			</div>
        <form name="listform" method="post" action="/admin/ziyuan/kecheng/nav3/0">
			<div class="selectionTop">
				<ul class="project_ul">
                    {volist name="xmlist" id="vo"}
                    {if condition = "$project == $vo['project']"}
                        <li class="current">{$vo.project}</li>
                    {else /}
                        <li>{$vo.project}</li>
                    {/if}
                    {/volist}
                    <input class="hiDomain" name="project" id="project" type="hidden" value="">
					<input type="button" class="Dr" value="导入">
				</ul>
			</div>
			<div class="condition">
				<div class="conditionSearch">
					<input class="searchBtn" type="submit" value="搜索"/>
					<input class="searchInput" type="text" />
					<div class="Dels">
						<span>操作：</span>
                        {if condition = "$hsz==1"}
                            <input type="button" onclick="delAll(200,1)" value="批量删除200条"/>
                            <input type="button" onclick="delAll(500,1)" value="批量删除500条"/>
                            <input type="button" onclick="delAll(0,1)" value="删除所勾选客户"/>
                        {else /}
                            <input type="button" onclick="delAll(200,0)" value="彻底删除200条"/>
                            <input type="button" onclick="delAll(500,0)" value="彻底删除500条"/>
                            <input type="button" onclick="delAll(0,0)" value="彻底删除勾选客户"/>
                        {/if}
					</div>
				</div>
			</div>
          </form>
            <form name="delform" method="post" action="/admin/ziyuan/delzy">
              <table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
                    <tbody>
                    <tr>
						<th><input id="all" type="checkbox" onclick="setCheckbox(this,'delid')" value="" /></th>
						<th>项目</th>
						<th>地区</th>
						<th>时间</th>
						<th>客户</th>
						<th>意向</th>
						<th>标签</th>
						<th>操作</th>
                     </tr>
                    {volist name="zylist" id="vo"}
                     <tr>
						<td><input type="checkbox" name="delid" class="delid" value="{$vo.id}"/></td>
						<td>{$vo.project}</td>
						<td>{$vo.province}-{$vo.city}</td>
						<td>{$vo.datetime}</td>
						<td>{$vo.guest}</td>
						<td>{$vo.intent}</td>
						<td>{$vo.label}</td>
						<td>
                            {if condition="$vo['status']==1"}
							    <a href="/admin/ziyuan/delzy/id/{$vo.id}" class="zyDel">删除</a>
                            {else /}
                                <a href="/admin/ziyuan/restore/id/{$vo.id}" class="zyDel">还原</a> /
                                <a href="/admin/ziyuan/del/id/{$vo.id}" class="zyDel">彻底删除</a>
                            {/if}
						</td>
                     </tr>
                    {/volist}
                 </tbody>
           </table>
                <input name="ids" id="ids" type="hidden" value="">
            </form>
		<div class="popUps">
		<div class="mask"></div>
		<div class="popUpsCont">
			<div class="proposal">
				<span class="maskClose">x</span>
				<p>批量导入</p>
                <form name="toExcel" enctype="multipart/form-data" action="/admin/ziyuan/importExcel" method="post">
				<div class="drMb">
					<div>一、模板下载：<a href="/template/template1.xlsx">《客户资源数据模板》 </a></div>
					<div>
                        二、上传已完成模板数据文件
                        <input type="file" name="excel" >
                    </div>
				</div>
				<div class="proposalBtn1">
                    <input name="zytype" type="hidden" value="kecheng">
					<input class="startDr" type="submit" value="开始导入">
					<input class="cancelDr" type="button" value="取消导入">
				</div>
                </form>
			</div>
		</div>
        </div>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/table.js"></script>
        <script src="/static/js/checkbox.js"></script>
            <script>
                $('.selectionTop ul li').click(function(){
                    $("#project").val($(this).html());
                    $(this).addClass('current').siblings().removeClass();

                });
                //资源管理页面全选、反选案例
                //计算次数，当 #food 7个都选中时，#all 也选中
                var num =0;
                //#all 全选框选中时，#food 全部选中
                $('#all').click(function(){
                    if((this.checked)){
                        $('.approvalCont ul li input:checkbox').prop('checked',true);
                    }else{
                        $('.approvalCont ul li input:checkbox').prop('checked',false);
                    }
                });
                //全部框都选中时，#all 也选中
                $('.approvalCont ul li input:checkbox').click(function(){
                    if(this.checked){
                        num++;
                    }else{
                        num--;
                    }
                    if($('.approvalCont ul li input:checked').length == $('.approvalCont ul li input').length){
                        $('#all').prop('checked',true);
                    }else{
                        $('#all').prop('checked',false);
                    }
                });
                //点击导入按钮，显示隐藏遮罩层
                $('.Dr').click(function(){
                    $('.popUps').css('display','block')
                });
                $('.maskClose').click(function(){
                    $('.popUps').css('display','none')
                });
                $('.cancelDr').click(function(){
                    $('.popUps').css('display','none')
                });
                //删除操作效果
                $('.zyDel').click(function(){
                    $(this).parent().parent('ul').remove();
                });

                function delAll(m,d){
                    if(d==1){
                        url = "/admin/ziyuan/delzy";
                    }
                    else
                    {
                        url = "/admin/ziyuan/del";
                    }
                    switch (m){
                        case 200:
                            window.location.href = url+"/limit/200";
                            break;
                        case 500:
                            window.location.href = url+"/limit/500";
                            break;
                        default :
                           var ids = getChecks("delid");
                           //alert(ids);
                           $("#ids").val(ids);
                           delform.action = url;
                           delform.submit();
                           break;
                    }
                }

                $("#recycle").click(function(){
                    var url = window.location.href;
                    url = url + "/hsz/1";
                    window.location.href = url;
                })

            </script>
	</body>
</html>