<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CRM主界面-管理员-资源管理</title>
	</head>
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="/static/css/index.css" />
	<body>
            <div style="text-align: center; padding-top: 10px;"><a href='/admin/ziyuan/delrepeat'>删除所有重复的信息（只保留1条）</a></div>
            <form name="delform" method="post" action="/admin/ziyuan/delzy">
              <table id="tb_3" cellspacing="0" cellpadding="2" width="100%" border="1">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>项目</th>
                        <th>省份</th>
						<th>客户</th>
                        <th>电话</th>
						<th>重复数</th>
                     </tr>
                    {volist name="tellist" id="vo"}
                     <tr>
                        <td>{$vo.id}</td>
						<td>{$vo.project}</td>
						<td>{$vo.province}</td>
						<td>{$vo.guest}</td>
						<td>{$vo.tel}</td>
						<td>{$vo.count}</td>
                     </tr>
                    {/volist}
                 </tbody>
           </table>
            </form>
        <script src="/static/js/jquery-2.1.4.min.js"></script>

	</body>
</html>